h1 {
  color: #ffffff;
}

h3 {
  color: #020402;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .2fr .1fr 1fr 1fr;
}

.title {
  background-color: #ba324f;
  grid-column: 1 / span 3;
  grid-row: 1/ span 1;
}

.info {
  background-color: #da7422;
  grid-column: 1/ span 1;
  grid-row: 3/ span 2;

  display: inline-block;
}

.display {
  grid-column: 2 /span 2;
  grid-row: 3/ span 2;

  background-color: #ffffff;
  display: inline-block;
}

.miniWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 1.5fr 3fr;
}

#content {
  background-color: white;
  grid-column: 1 /span 2;
  grid-row: 1/ span 1;

  display: inline-block;
}

#todayDate {
  background-color: white;
  grid-column: 1 /span 1;
  grid-row: 2/ span 1;

  display: inline-block;
}

#eventDate {
  background-color: white;
  grid-column: 2 /span 1;
  grid-row: 2/ span 1;

  display: inline-block;
}

#countdown {
  background-color: white;
  grid-column: 1 /span 2;
  grid-row: 3/ span 1;

  display: inline-block;
}

.countdownWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.day {
  grid-column: 1 /span 1;
  grid-row: 1/ span 1;
}

.month {
  grid-column: 2 /span 1;
  grid-row: 1/ span 1;
 }

.year {
  grid-column: 3 /span 1;
  grid-row: 1/ span 1;
}

.day, .month, .year {
  display: inline-block;

  background-color: #d6d6d6;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, .8);

  color: #ba324f;
  font-size: 80px;

  text-align: center;

  padding: 80px 40px;
  margin: 10px;
}

#todayDate, #eventDate {
  font-size: 26px;
}

#countdown {
  font-size: 50px;
}